{% extends "::base.html.twig" %}

{% block body %}
    <h1>The aliens have attacked!</h1>
    <p>
        And the crazy bastards attacked our servers first; what the hell?!<br />
        We're trying our absolute best to fend them off, and get everything up-and-running again.<br />
        <br />
        In the mean time, please sit tight, and prepare for alien invasion.
    </p>
{% endblock %}